### Climatologia y Anomalias

In [1]:
import os
import gc
import sys
import glob
import xarray as xr
import pandas as pd
import xesmf as xe
import numpy as np
sys.path.append("/home/brayan/mnsun/")
from utils import check_dir

In [2]:
INPUT_DIR        = "/home/brayan/DATA/Modelo-Multimodal-de-Ondas/process/ASCAT/"
init_date_update = "2007-03-21"
end_date_update  = "2018-12-31"

In [3]:
file_ascat = []
for year in range(int(init_date_update.split("-")[0]), int(end_date_update.split("-")[0])+1):
    file_ascat += glob.glob(INPUT_DIR+f"TAU/{str(year)}/*.nc")

In [4]:
file_ascat.sort()

In [5]:
file_ascat[-5:]

['/home/brayan/DATA/Modelo-Multimodal-de-Ondas/process/ASCAT/TAU/2018/20181227.nc',
 '/home/brayan/DATA/Modelo-Multimodal-de-Ondas/process/ASCAT/TAU/2018/20181228.nc',
 '/home/brayan/DATA/Modelo-Multimodal-de-Ondas/process/ASCAT/TAU/2018/20181229.nc',
 '/home/brayan/DATA/Modelo-Multimodal-de-Ondas/process/ASCAT/TAU/2018/20181230.nc',
 '/home/brayan/DATA/Modelo-Multimodal-de-Ondas/process/ASCAT/TAU/2018/20181231.nc']

In [6]:
DS_ASCAT = xr.open_mfdataset(file_ascat, concat_dim="time", parallel=True)

/home/brayan/anaconda3/envs/pangeo/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In xarray version 0.15 the default behaviour of `open_mfdataset`
will change. To retain the existing behavior, pass
combine='nested'. To use future default behavior, pass
combine='by_coords'. See
http://xarray.pydata.org/en/stable/combining.html#combining-multi

  """Entry point for launching an IPython kernel.
/home/brayan/anaconda3/envs/pangeo/lib/python3.7/site-packages/xarray/backends/api.py:941: FutureWarning: Also `open_mfdataset` will no longer accept a `concat_dim` argument.
To get equivalent behaviour from now on please use the new
`combine_nested` function instead (or the `combine='nested'` option to
`open_mfdataset`).The datasets supplied do not have global dimension coordinates. In
future, to continue concatenating without supplying dimension
coordinates, please use the new `combine_nested` function (or the
`combine='nested'` option to open_mfdataset.
  from_openmfds=True,

In [7]:
def Climatology_ANnomaly(data_, init_, end_):
    interv_date     = f"{init_}-01-01",f"{end_}-12-31"
    DATA_0          = data_.sel(time=slice(interv_date[0], interv_date[1])).resample(time="1MS").mean(dim="time")
    DATA_0["time"]  = pd.date_range( interv_date[0], interv_date[1], freq="MS").shift(14, freq="D")
    DATA_1          = DATA_0-DATA_0.mean(dim=("time"))
    DATA_2          = DATA_1.groupby("time.month").sum(dim="time")/(DATA_0.time.shape[0]/12)
    DATA_2_forward  = DATA_2.copy()
    DATA_2_back     = DATA_2.copy()    
    DATA_2_back["month"]    = pd.date_range("1903-01-01", "1903-12-31", freq="MS").shift(14, freq="D")
    DATA_2["month"]         = pd.date_range("1904-01-01", "1904-12-31", freq="MS").shift(14, freq="D")
    DATA_2_forward["month"] = pd.date_range("1905-01-01", "1905-12-31", freq="MS").shift(14, freq="D")
    DATA_3          = xr.concat([DATA_2_back, DATA_2, DATA_2_forward], dim="month").chunk(chunks={"month":36})
    DATA_4          = DATA_3.interp( month=pd.date_range("1903-01-01", "1905-12-31", freq="D"), method="cubic").sel(month=slice("1904-01-01", "1904-12-31"))
    DATA_4          = DATA_4.rename({"month":"dayofyear"})
    DATA_4["dayofyear"]     = np.arange(1, 366+1, 1, dtype=int)
    DATA_5          = DATA_4.chunk(chunks={"dayofyear":1}) + DATA_0.mean(dim=("time"))
    ANOMALIAS       = data_.groupby("time.dayofyear") - DATA_5
    return ANOMALIAS, DATA_5

In [8]:
TAUX_ANOM, TAUX_CLIM        = Climatology_ANnomaly( DS_ASCAT.taux, "2008", "2014")

/home/brayan/anaconda3/envs/pangeo/lib/python3.7/site-packages/numpy/core/_methods.py:151: RuntimeWarning: invalid value encountered in reduce
  ret = umr_sum(arr, axis, dtype, out, keepdims)
/home/brayan/anaconda3/envs/pangeo/lib/python3.7/site-packages/numpy/core/_methods.py:151: RuntimeWarning: invalid value encountered in reduce
  ret = umr_sum(arr, axis, dtype, out, keepdims)
/home/brayan/anaconda3/envs/pangeo/lib/python3.7/site-packages/numpy/core/_methods.py:151: RuntimeWarning: invalid value encountered in reduce
  ret = umr_sum(arr, axis, dtype, out, keepdims)
/home/brayan/anaconda3/envs/pangeo/lib/python3.7/site-packages/numpy/core/_methods.py:151: RuntimeWarning: invalid value encountered in reduce
  ret = umr_sum(arr, axis, dtype, out, keepdims)
/home/brayan/anaconda3/envs/pangeo/lib/python3.7/site-packages/numpy/core/_methods.py:151: RuntimeWarning: invalid value encountered in reduce
  ret = umr_sum(arr, axis, dtype, out, keepdims)

In [9]:
TAUY_ANOM, TAUY_CLIM        = Climatology_ANnomaly( DS_ASCAT.tauy, "2008", "2014")

In [14]:
def create_xarray(data_, dim1, dim2, dim3, dim1_name, dim2_name, dim3_name):
    """
    Se crea un xarray que tiene la siguiente estructura estandar:
    'time, latitud, longitud'
    
    Output: Informacion de data_Xarray en formato float_32 [Xarray] 
    """
    Array  =  xr.DataArray( np.float32(data_) ,
                            coords=[ dim1, dim2, dim3],
                            dims=[ dim1_name, dim2_name, dim3_name])     
    return Array

In [23]:
TAUX_ANOM_32 = create_xarray( TAUX_ANOM.interpolate_na(dim="lat", method="nearest", fill_value="extrapolate").values, TAUX_ANOM.time, np.float32(TAUX_ANOM.lat), np.float32(TAUX_ANOM.lon), "time", "lat", "lon")
print("pass")
TAUY_ANOM_32 = create_xarray( TAUY_ANOM.interpolate_na(dim="lat", method="nearest", fill_value="extrapolate").values, TAUY_ANOM.time, np.float32(TAUY_ANOM.lat), np.float32(TAUY_ANOM.lon), "time", "lat", "lon")

/home/brayan/anaconda3/envs/pangeo/lib/python3.7/site-packages/dask/array/numpy_compat.py:40: RuntimeWarning: invalid value encountered in true_divide
  x = np.divide(x1, x2, out)

pass

/home/brayan/anaconda3/envs/pangeo/lib/python3.7/site-packages/dask/array/numpy_compat.py:40: RuntimeWarning: invalid value encountered in true_divide
  x = np.divide(x1, x2, out)

In [25]:
TAUX_CLIM_32 = create_xarray( TAUX_CLIM.interpolate_na(dim="lat", method="nearest", fill_value="extrapolate").values, TAUX_CLIM.dayofyear, np.float32(TAUX_ANOM.lat), np.float32(TAUX_ANOM.lon), "dayofyear", "lat", "lon")
print("pass")
TAUY_CLIM_32 = create_xarray( TAUY_CLIM.interpolate_na(dim="lat", method="nearest", fill_value="extrapolate").values, TAUY_CLIM.dayofyear, np.float32(TAUY_ANOM.lat), np.float32(TAUY_ANOM.lon), "dayofyear", "lat", "lon")

/home/brayan/anaconda3/envs/pangeo/lib/python3.7/site-packages/dask/array/numpy_compat.py:40: RuntimeWarning: invalid value encountered in true_divide
  x = np.divide(x1, x2, out)

pass

/home/brayan/anaconda3/envs/pangeo/lib/python3.7/site-packages/dask/array/numpy_compat.py:40: RuntimeWarning: invalid value encountered in true_divide
  x = np.divide(x1, x2, out)

In [28]:
DATASET_ANOM = xr.Dataset({"ataux": TAUX_ANOM_32, "tauy": TAUY_ANOM_32})
DATASET_CLIM = xr.Dataset({"clim_taux": TAUX_CLIM_32, "clim_tauy": TAUY_CLIM_32})

In [30]:
for enum, date_val in enumerate(DATASET_ANOM.time.values):
    check_dir(INPUT_DIR+"ANOMALY/" +str(date_val)[:4]+"/")
    DATASET_ANOM.isel(time=enum).to_netcdf(INPUT_DIR+"ANOMALY/" +str(date_val)[:4]+"/"+"".join(str(date_val)[:10].split("-"))+".nc")

In [29]:
check_dir(INPUT_DIR+"CLIMATOLOGY/")
DATASET_CLIM.to_netcdf(INPUT_DIR+"CLIMATOLOGY/" +"TAU_CLIM.nc")